.music-button{
  margin: 1.5em;
  width: 6em;
  height: 1.5em;
  font-size: 1em;
  text-decoration: none;
  border-radius: 3px;
  outline: none;
  background: #60a3d8 linear-gradient(#89bbe2, #60a3d8 50%, #378bce);
  box-shadow: inset rgba(255,255,255,.5) 1px 1px;
  color: white;
  border: 1px solid;
  border-color: #60a3d8 #2970a9 #2970a9 #60a3d8;
}
